/* IDs are represented by '#' and classes are represented by '.'*/
/*By default navbar height is 50px*/

	/* Fixed header
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
        height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		color: #f2f2f2;
        text-align: center;
	}

    #header{top:0px;}
    #footer{bottom:0px;}


#fullpage{
    color: white;   
    width: 100%;

}


.Project{
    margin-top:50px;
    

}

#fullpage img{
    height: 60%;
    width: 100%;
    
}


#Project {
    color: white;
    
}

#Project img{
    width: 90%; 
}

.container{
    padding-top:50px;
}

.datachart{
    overflow-x:auto; 
}

/*Table related */
table{
        margin: 0 auto;
        font-size:10px;
        min-width:1000px;
}


@media screen and (min-width: 800px) {
    #fullpage img{
        height: 30%;
        width: 800px;
    }
    /*Table related */
    table{
        margin: 0 auto;
        font-size:12px;
    }
}



